@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}
main{
    margin:  auto;
    background-color: rgb(65, 187, 220);
    width: 400px;
    height: 800px;
}
#barra_top{
    width: 400px;
    height: 5px;
    background-color: aquamarine;
    margin-bottom: 10px;
}
#quadrado{
    width: 25px;
    height: 25px;
    background-color: aquamarine;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 35px;
}
#inscrevase{
    font-family: 'roboto', 'sans-serif';
    font-size: 36px;
    margin-left: 45px;
    margin-top: -25px;
    text-transform: uppercase;
}
#form_inscrever{
    width: 340px;
    height: 600px;
    background-color: gray;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
}
#label{
    font-family: 'roboto', 'sans-serif';
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
    margin-left: 15px;
}
#input{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    outline: 2px solid aquamarine;
    border: none;
    padding-left: 5px;
    margin-bottom: 15px;
    margin-left: 20px;
}
#olho{
    margin-left: 300px;
    margin-bottom: 37px;
    margin-top: -40px;
    opacity: 0,4;
}

#label_cep{
    font-family: 'roboto', 'sans-serif';
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
    margin-left: 20px;

}

#label_numero{
    font-family: 'roboto', 'sans-serif';
    font-size: 18px;
    font-weight: 500;
    margin-left: 100px;
    padding: 5px;
}
#input_cep{
    border-radius: 5px;
    width: 120px;
    height: 35px;
    border: none;
    outline: 2px solid aquamarine;
    margin-left: 20px;
    margin-bottom: 10px;
    padding-left: 5px;
}
#input_numero{
    width: 150px;
    height: 35px;
    border-radius: 5px;
    border: none;
    outline: 2px solid aquamarine;
    margin-left: 20px;
    margin-bottom: 15px;
    padding-left: 5px;
}

#select_cidade{
    font-family: 'roboto', 'sans-serif';
    border-radius: 5px;
    width: 305px;
    height: 35px;
    border: none;
    outline: 2px solid aquamarine;
    padding-left: 5px;
    margin-left: 20px;
    margin-bottom: 15px;
}

#input_checkbox{
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

#p_checkbox{
    font-family: 'roboto', 'sans-serif';
    font-size: 18px;
    margin-left: 45px;
    margin-top: -23px;
    margin-bottom: 25;
}

#botao_cadastrar{
    
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    background-color: aquamarine;
    color: rgb(45, 45, 45);
    padding: 5px;
    cursor: pointer;
}